---
interface BlogPageProps {
  post: {
    title: string;
    updatedAt: string;
    coverImage: {
      url: string;
    };
    content: {
      markdown: string;
    };
    slug: string;
  };
}

const { post } = Astro.props as BlogPageProps;
const { title, updatedAt, coverImage, content, slug } = post;
const userLocalDate = new Date(updatedAt).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="w-full">
  <div class="prose dark:prose-invert mb-5">
    <h1 class="dark:text-white" transition:name={`title-${slug}`}>
      {title}
    </h1>
    <p class="-mt-5 text-gray-500">Updated: {userLocalDate}</p>
  </div>
  {coverImage?.url && <img src={coverImage.url} class="mb-5" alt={title} />}
</div>
