---
import type { HashnodePostFull } from "@/types/hashnode";

interface BlogPageProps {
  post: HashnodePostFull;
}

const { post } = Astro.props as BlogPageProps;
const { title, coverImage, slug, publishedAt } = post;
const userLocalDate = new Date(publishedAt).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="w-full">
  <div class="prose dark:prose-invert mb-5">
    <h1 class="dark:text-white" transition:name={`title-${slug}`}>
      {title}
    </h1>
    <p class="-mt-5 text-gray-500">
      Posted: {userLocalDate}
    </p>
  </div>
  {coverImage?.url && <img src={coverImage.url} class="mb-5" alt={title} />}
</div>
