---
import { Image } from "astro:assets";

interface Props {
  title: string;
  subtitle?: string;
  description: string;
  image: ImageMetadata;
  link: string;
}

const { title, subtitle, description, image, link } = Astro.props;
---

<a
  href={link}
  class="rounded-xl overflow-hidden p-6 sm:p-10 bg-gray-50 m-4 group"
  target="_blank"
  rel="noreferrer"
>
  <Image
    src={image}
    alt={title}
    width={600}
    height={400}
    class="rounded-xl w-full shadow-lg object-cover group-hover:scale-105 transition-all duration-500"
  />
  <div class="mt-4">
    <h5 class="text-lg sm:text-xl font-semibold">
      {title}
      <span class="text-sm text-black/60 ml-2">{subtitle}</span>
    </h5>
    <p class="text-sm sm:text-base text-black/70 mt-1">
      {description}
    </p>
  </div>
</a>
