---
import { Routes } from "../config";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="sticky top-0 z-10 mx-auto mb-8 flex max-w-3xl justify-between p-4 align-middle backdrop-blur-md"
>
  <a
    class="span flex h-[45px] w-[45px] cursor-pointer
       items-center justify-center rounded-full bg-gray-900 shadow-2xl
       shadow-gray-500 transition-all duration-700 ease-real-in-out hover:rotate-[360deg]"
    href={Routes.home}
  >
    <img src="/assets/kishanlogo.png" alt="Kishan" />
  </a>
  <div class="flex">
    <div class="flex items-center gap-3">
      <!-- <NavLink url={Routes.projects}>Projects</NavLink> -->
      <!-- <NavLink url={Routes.aboutMe}>About Me</NavLink> -->
      <a
        class="rounded-md px-4 py-2 font-normal transition-all duration-200 ease-in-out
    hover:bg-blue-100 hover:text-blue-700 active:bg-blue-200"
        href={Routes.projects}>Projects</a
      >
      <a
        class="rounded-md px-4 py-2 font-normal transition-all duration-200 ease-in-out
    hover:bg-blue-100 hover:text-blue-700 active:bg-blue-200"
        href={Routes.aboutMe}>About Me</a
      >
      <ThemeIcon />
    </div>
  </div>
</header>
