---

import BlogHead from '@/components/blogs/BlogHead.astro'
import { getAllPostByUsername, getPostBySlug } from '@/functions/hashnode'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await getAllPostByUsername('blog.kishans.in')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { slug } = Astro.params

const blog = await getPostBySlug(slug, 'blog.kishans.in')
const brief = blog.brief
  .replace(/<[^>]*>/g, ' ')
  .replace(/\s+/g, ' ')
  .trim()
const description =
  brief.length > 160
    ? `${brief.slice(0, 157).replace(/\s+\S*$/, '')}…`
    : brief
const canonicalURL = `/blogs/${slug}/`
const articleSchema = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  headline: blog.title,
  description,
  image:
    blog.coverImage?.url ||
    'https://www.kishans.in/assets/kishans-og-banner.png',
  datePublished: blog.publishedAt,
  dateModified: blog.updatedAt,
  mainEntityOfPage: `https://www.kishans.in${canonicalURL}`,
  author: {
    '@type': 'Person',
    name: 'Kishan Kumar',
    url: 'https://www.kishans.in',
  },
  publisher: {
    '@type': 'Person',
    name: 'Kishan Kumar',
  },
}
---

<Layout
  title={`${blog.title} | Kishan Kumar`}
  {description}
  image={blog.coverImage?.url || '/assets/kishans-og-banner.png'}
  {canonicalURL}
  pageType="article"
  publishedTime={blog.publishedAt}
  modifiedTime={blog.updatedAt}
  structuredData={articleSchema}
>
  <div class="container">
    <BlogHead post={blog} />
    <div
      class="prose dark:prose-invert prose-lg sm:prose-xl prose-zinc prose-code:font-mono prose-pre:bg-black text-foreground/80 max-w-full"
      set:html={blog.content.html}
    />
  </div>
</Layout>
