---
import "@fontsource-variable/manrope";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
}

const {
  title,
  description = "Full-stack developer with a product mindset. Specializes in scalable web products, AI integration, and performance optimization to enhance user experience.",
  image = "/assets/kishans-og-banner.png",
  canonicalURL,
} = Astro.props;

const siteName = "Kishan Kumar - Full Stack Developer";
const siteURL = new URL(Astro.url.pathname, Astro.site || "https://kishans.in");
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    {canonicalURL && <link rel="canonical" href={canonicalURL} />}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, siteURL)} />
    <meta property="og:site_name" content={siteName} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={siteURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, siteURL)} />
    <meta name="twitter:creator" content="@jst_kishan" />

    <!-- Additional SEO tags -->
    <meta name="author" content="Kishan Kumar" />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="full-stack developer, web development, AI integration, performance optimization, Quinence, product engineer"
    />

    <!-- Theme Color -->
    <meta name="theme-color" content="#ffffff" />
    <script>
      document.documentElement.classList.remove("no-js");
    </script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html.dark {
    background-color: #202125;
    color: #fff;
  }
  html {
    scroll-behavior: smooth;
  }
  html.no-js #homepage {
    opacity: 1 !important;
  }
</style>
